#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    behaviors {
        // Homerow mods for A and ' with Shift
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        // Win/Cmd mod-tap for Tab and Enter
        wm: win_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "WIN_MOD";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        // Macro 1: Cmd+Shift+4 (Screenshot)
        macro1: macro1 {
            compatible = "zmk,behavior-macro";
            label = "SCREENSHOT";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N4))>;
        };

        // Macro 3: Cmd+Minus (Zoom Out)
        macro3: macro3 {
            compatible = "zmk,behavior-macro";
            label = "ZOOM_OUT";
            #binding-cells = <0>;
            bindings = <&kp LG(MINUS)>;
        };

        // Macro 4: Cmd+Shift+Equals (Zoom In)  
        macro4: macro4 {
            compatible = "zmk,behavior-macro";
            label = "ZOOM_IN";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(EQUAL))>;
        };

        // Macro 5: Ctrl+Right (Word Right)
        macro5: macro5 {
            compatible = "zmk,behavior-macro";
            label = "WORD_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp LC(RIGHT)>;
        };

        // Macro 6: Ctrl+Left (Word Left)
        macro6: macro6 {
            compatible = "zmk,behavior-macro";
            label = "WORD_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LC(LEFT)>;
        };

        // Screen brightness up (F15 on macOS)
        screen_up: screen_up {
            compatible = "zmk,behavior-macro";
            label = "SCREEN_UP";
            #binding-cells = <0>;
            bindings = <&kp F15>;
        };

        // Screen brightness down (F14 on macOS)
        screen_dn: screen_dn {
            compatible = "zmk,behavior-macro";
            label = "SCREEN_DN";
            #binding-cells = <0>;
            bindings = <&kp F14>;
        };

        // LaunchPad (F4 on macOS)
        launchpad: launchpad {
            compatible = "zmk,behavior-macro";
            label = "LAUNCHPAD";
            #binding-cells = <0>;
            bindings = <&kp F4>;
        };

        // Mission Control (F3 on macOS)
        mission_ctrl: mission_ctrl {
            compatible = "zmk,behavior-macro";
            label = "MISSION_CTRL";
            #binding-cells = <0>;
            bindings = <&kp F3>;
        };

        // Make key
        make_key: make_key {
            compatible = "zmk,behavior-macro";
            label = "MAKE";
            #binding-cells = <0>;
            bindings = <&kp M &kp A &kp K &kp E>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0: Base layer (QWERTY)
        default_layer {
            bindings = <
  &kp Q         &kp W         &kp E         &kp R         &kp T                                    &kp Y            &kp U         &kp I         &kp O         &kp P
  &hm LSHIFT A  &kp S         &kp D         &kp F         &kp G                                    &kp H            &kp J         &kp K         &kp L         &hm RSHIFT SQT
  &lt 2 Z       &kp X         &kp C         &kp V         &kp B                                    &kp N            &kp M         &kp COMMA     &kp DOT       &lt 2 FSLH
  &kp LCTRL     &kp LALT      &mkp MB2      &mkp MB1      &lt 1 SPACE  &lt 3 TAB    &wm LGUI RET  &lt 1 BACKSPACE                                          &mkp MB1
            >;
        };

        // Layer 1: Numbers and Symbols (matches QMK layer 2)
        number_layer {
            bindings = <
  &kp EXCL      &kp AT        &kp UP        &kp DLLR      &kp PRCNT                       &kp STAR        &kp AMPS        &kp N8          &kp LPAR        &kp CARET
  &kp LPAR      &kp LEFT      &kp DOWN      &kp RIGHT     &kp RPAR                        &kp PIPE        &kp N4          &kp N5          &kp N6          &kp RBKT
  &kp CAPS      &kp TILDE     &kp HASH      &kp CARET     &kp EQUAL                       &kp AMPS        &kp N1          &kp N2          &kp N3          &kp N0
  &trans        &trans        &mkp MB2      &mkp MB1      &trans        &trans    &trans  &trans                                                          &mkp MB1
            >;
        };

        // Layer 2: Macros and Functions (matches QMK layer 3)
        macro_layer {
            bindings = <
  &trans        &kp ESC       &trans        &trans        &trans                          &trans          &macro3         &macro4         &trans          &trans
  &kp LBRC      &macro1       &kp COLON     &kp SEMI      &kp RBRC                        &trans          &macro6         &macro5         &trans          &trans
  &trans        &kp PIPE      &trans        &trans        &trans                          &trans          &mkp MB2        &trans          &trans          &trans
  &trans        &screen_up    &screen_dn    &launchpad    &mission_ctrl   &trans  &trans  &make_key                                                      &trans
            >;
        };

        // Layer 3: Mouse and trackball controls
        mouse_layer {
            bindings = <
  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5                          &kp N6          &kp N7          &kp N8          &kp N9          &kp N0
  &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans                          &kp PAGE_UP     &mkp LCLK       &trans          &mkp RCLK       &mkp MCLK
  &trans        &trans        &trans        &trans        &trans                          &kp PAGE_DOWN   &trans          &trans          &trans          &trans
  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans                                                          &trans
            >;
        };

        // Layer 4: System controls and Bluetooth
        system_layer {
            bindings = <
  &trans        &trans        &trans        &trans        &bootloader                     &trans          &trans          &trans          &trans          &trans
  &trans        &trans        &trans        &trans        &trans                          &trans          &trans          &trans          &trans          &trans
  &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &trans                          &trans          &trans          &trans          &trans          &trans
  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans                                                          &trans
            >;
        };
    };
};
